/* NAVY
#001f3f
BLUE
#0074D9
AQUA
#7FDBFF
TEAL
#39CCCC
OLIVE
#3D9970
GREEN
#2ECC40
LIME
#01FF70
YELLOW
#FFDC00
ORANGE
#FF851B
RED
#FF4136
MAROON
#85144b
FUCHSIA
#F012BE
PURPLE
#B10DC9
BLACK
#111111
GRAY
#AAAAAA
SILVER
#DDDDDD */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  overflow-x: hidden;
  box-sizing: border-box; }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  60% {
    opacity: 0.8;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #777; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase; }

.mt-1 {
  margin-top: 5rem; }

.mt-2 {
  margin-top: 10rem; }

.mt-3 {
  margin-top: 15rem; }

.mt-4 {
  margin-top: 20rem; }

.mb-1 {
  margin-bottom: 5rem; }

.mb-2 {
  margin-bottom: 10rem; }

.mb-3 {
  margin-bottom: 15rem; }

.mb-4 {
  margin-bottom: 20rem; }

.text-center {
  text-align: center; }

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(0, 116, 217, 0.75), rgba(61, 153, 112, 0.8)), url("../img/pexels-photo-92904.jpeg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logoContainer {
    position: absolute;
    left: 4rem;
    top: 1.4rem; }
    .header__logoContainer__logo {
      height: 10rem; }

.headlineBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .headlineBox__headlinePrimary {
    text-transform: uppercase;
    color: #fff;
    font-size: 6rem;
    display: block;
    font-weight: 700;
    letter-spacing: 4rem;
    padding: 0rem;
    margin: 0rem;
    animation-name: moveLeft;
    animation-duration: 1.5s;
    backface-visibility: hidden; }
  .headlineBox__headlineSub {
    color: #fff;
    display: block;
    font-weight: 500;
    letter-spacing: 1rem;
    animation-name: moveRight;
    animation-duration: 1.5s;
    backface-visibility: hidden; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  .section-about__h2__box {
    text-align: center; }
    .section-about__h2__box h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      color: transparent;
      font-weight: 700;
      display: inline-block;
      background-image: linear-gradient(to right, #0074D9, #3D9970);
      -webkit-background-clip: text;
      background-clip: text;
      transition: all .2s; }
      .section-about__h2__box h2:hover {
        transform: skewY(2deg); }

.section-cards {
  margin-top: -20rem;
  height: 60rem;
  background-image: linear-gradient(to left bottom, rgba(0, 116, 217, 0.75), rgba(61, 153, 112, 0.8)), url("../../img/Digital.jpeg");
  background-size: cover;
  padding: 11rem 0px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }
  .section-cards__boxes {
    padding: 5rem 2.5rem 2.5rem 2.5rem;
    background-color: rgba(245, 245, 245, 0.75);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    text-align: center;
    margin: 0rem 1.5rem;
    transition: all 0.2s; }
    .section-cards__boxes i {
      font-size: 10rem;
      background-image: linear-gradient(to right, #85144b, #F012BE);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .section-cards__boxes h3 {
      text-transform: uppercase;
      color: white;
      font-weight: 700; }
  .section-cards__boxes:hover {
    transform: translateY(-1rem); }

.section-prices {
  height: 80rem;
  background-color: #f7f7f7;
  margin-top: -20rem; }

.section-recoms__container {
  margin: 20rem auto;
  width: 70%;
  background-color: rgba(170, 170, 170, 0.2);
  transform: skewY(-4deg);
  padding: 4rem 4rem; }
  .section-recoms__container__anti-break-container {
    transform: skewY(4deg); }
  .section-recoms__container__img-container {
    position: relative;
    width: 100%;
    clip-path: circle(37%);
    z-index: 200; }
    .section-recoms__container__img-container__img-hover-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      background-color: black; }
    .section-recoms__container__img-container p {
      position: absolute;
      top: 50%;
      left: 50%;
      color: rgba(255, 255, 255, 0);
      transform: translate(-50%, -50%);
      font-size: 3rem;
      transition: all .5s ease; }
    .section-recoms__container__img-container img {
      transition: all .5s ease;
      width: 100%;
      transform: scale(1.2);
      z-index: 2; }
  .section-recoms__container__img-container:hover {
    background-color: #0074D9;
    z-index: 20; }
    .section-recoms__container__img-container:hover img {
      transition: all .5s ease;
      transform: scale(1);
      opacity: .5; }
    .section-recoms__container__img-container:hover p {
      transition: all .5s ease;
      z-index: 20;
      color: white;
      text-shadow: #AAAAAA; }
  .section-recoms__container__img-container__img-hover-container p {
    text-align: justify; }

.section-form {
  background-image: linear-gradient(to right, #0074D9, #3D9970);
  padding: 20rem 0; }

.footer {
  padding: 5rem 0;
  background-color: #AAAAAA;
  color: #fff; }
  .footer__imgContainer {
    text-align: center;
    padding: 2rem 0;
    border-bottom: .5rem solid #fff; }
    .footer__imgContainer img {
      width: 50rem; }
  .footer__nav-copy-Container {
    padding-top: 5rem; }
  .footer__li,
  .footer a {
    font-size: 2.5rem;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0 .5rem; }
  .footer__li:not(:last-child) {
    margin: 0rem 1.5rem; }
  .footer li:hover {
    background-image: linear-gradient(to right bottom, #0074D9, #3D9970); }
  .footer__copyContainer__CopySign {
    padding: 0 3rem;
    font-size: 2.5rem; }
  .footer__copyContainer__CopyText {
    padding: 0 3rem;
    font-size: 1.5rem;
    text-align: justify; }

.btn-primary:link, .btn-primary:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 1.5rem;
  border-radius: 10rem;
  transition: all .2s; }

.btn-primary:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.364); }

.btn-primary:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-primary-white {
  background-color: #fff;
  color: #777;
  font-size: 2rem; }
  .btn-primary-white:link, .btn-primary-white:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    margin-top: 1.5rem;
    border-radius: 10rem;
    transition: all .2s; }
  .btn-primary-white:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.364); }
  .btn-primary-white:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-secondary:link, .btn-secondary:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 1.5rem;
  border: 2px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all .2s; }

.btn-secondary:hover {
  background-color: transparent;
  color: #0074D9;
  border: 2px solid #0074D9;
  border-bottom: 3px solid #0074D9; }

.btn-secondary:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-secondary-main-color {
  background-color: #0074D9;
  color: white;
  font-size: 2rem; }

.composition {
  position: relative; }
  .composition__img {
    width: 40%;
    position: absolute;
    z-index: 1;
    transition: all .1s;
    outline-offset: 2rem; }
    .composition__img-p1 {
      left: 0;
      top: 0; }
    .composition__img-p2 {
      left: 20rem;
      top: 0; }
    .composition__img-p3 {
      left: 20%;
      top: 10rem; }
  .composition__img:hover {
    z-index: 20;
    transform: scale(1.1);
    margin: 1.5rem;
    outline: 0.5rem solid #0074D9; }
  .composition:hover .composition__img:not(:hover) {
    transform: scale(0.6); }

.card {
  perspective: 100rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    border-radius: 1rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15); }
    .card__side-front {
      background-color: white; }
    .card__side-back {
      transform: rotateY(-180deg);
      padding: 3rem 1rem; }
      .card__side-back h5 {
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase; }
      .card__side-back i {
        font-size: 10rem;
        display: block;
        margin: 4rem 0; }
      .card__side-back a {
        display: block;
        margin: 2rem 4rem;
        text-align: center;
        text-decoration: none; }
      .card__side-back-1 {
        background-image: linear-gradient(to right bottom, #0074D9, #3D9970);
        color: white; }
      .card__side-back-2 {
        background-image: linear-gradient(to right bottom, #FFDC00, #FF851B);
        color: white; }
      .card__side-back-3 {
        background-image: linear-gradient(to right bottom, #2ECC40, #01FF70);
        color: white; }
    .card__side ul {
      text-align: center; }
      .card__side ul li {
        list-style-type: none;
        font-size: 1.5rem;
        margin-top: 1.5rem;
        border-bottom: 1px solid #f7f7f7; }
  .card:hover .card__side-front {
    transform: rotateY(180deg); }
  .card:hover .card__side-back {
    transform: rotateY(0deg); }
  .card__side-box1__imgBox {
    height: 25rem;
    background-image: linear-gradient(to right, rgba(61, 153, 112, 0.3), rgba(0, 116, 217, 0.3)), url("/img/card1.jpeg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative; }
  .card__side__text1 {
    text-transform: uppercase;
    text-align: right;
    color: white;
    display: inline-block;
    overflow: hidden;
    padding: 1rem .5rem; }
    .card__side__text1-1 {
      background-image: linear-gradient(to right bottom, #0074D9, #3D9970);
      position: absolute;
      top: 40%;
      left: 35%; }
    .card__side__text1-2 {
      position: absolute;
      top: 55%;
      left: 35%;
      background-image: linear-gradient(to right bottom, #0074D9, #3D9970); }
  .card__side-box2__imgBox {
    height: 25rem;
    background-image: linear-gradient(to right, rgba(255, 220, 0, 0.3), rgba(255, 133, 27, 0.3)), url("/img/card2.jpeg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative; }
  .card__side__text2 {
    text-transform: uppercase;
    text-align: right;
    color: white;
    display: inline-block;
    overflow: hidden;
    padding: 1rem .5rem; }
    .card__side__text2-1 {
      background-image: linear-gradient(to right bottom, #FFDC00, #FF851B);
      position: absolute;
      top: 40%;
      left: 35%; }
    .card__side__text2-2 {
      position: absolute;
      top: 55%;
      left: 35%;
      background-image: linear-gradient(to right bottom, #FFDC00, #FF851B); }
  .card__side-box3__imgBox {
    height: 25rem;
    background-image: linear-gradient(to right, rgba(46, 204, 64, 0.3), rgba(1, 255, 112, 0.3)), url("/img/card3.jpeg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative; }
  .card__side__text3 {
    text-transform: uppercase;
    text-align: right;
    color: white;
    display: inline-block;
    overflow: hidden;
    padding: 1rem .5rem; }
    .card__side__text3-1 {
      background-image: linear-gradient(to right bottom, #2ECC40, #01FF70);
      position: absolute;
      top: 40%;
      left: 35%; }
    .card__side__text3-2 {
      position: absolute;
      top: 55%;
      left: 35%;
      background-image: linear-gradient(to right bottom, #2ECC40, #01FF70); }

.formContainer {
  z-index: 10;
  position: relative;
  width: 75%;
  margin: 0 auto;
  color: white;
  background-image: url("/img/contact.jpeg");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .formContainer::after {
    content: "";
    display: table;
    clear: both; }
  .formContainer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    clip-path: polygon(0 0, 60% 0, 45% 100%, 0 100%);
    top: 0;
    left: 0;
    border-radius: 3px;
    z-index: -10; }

.inputContainer {
  z-index: 30;
  padding: 4rem 3rem; }

.form__group:not(:last-child) {
  z-index: 1000;
  margin: 1.5rem 0; }

.form__input {
  z-index: 1000;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.6rem 2rem;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  height: 100%;
  display: block; }

.form__label {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  transition: all 0.5s; }

.form__input:focus {
  transition: all .9s;
  border-bottom: 3px solid #2ECC40;
  outline: none;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }

.form__input:focus:invalid {
  border-bottom: 3px solid #FF4136;
  transition: all .9s; }

.form__input:placeholder-shown ~ .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(40rem); }

.form h4 {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #f7f7f7;
  font-weight: 700;
  display: inline-block;
  text-shadow: 2px 2px 2rem rgba(0, 0, 0, 0.419); }

.form a {
  width: 60%;
  text-align: center;
  font-size: 2rem; }

.row {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc(( 100% - 2rem) /2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 2 * (2rem)) / 3); }
  .row .col-1-of-4 {
    width: calc(( 100% - 3 * (2rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(( 100% - 2rem)* (2/ 3)); }
  .row .col-3-of-4 {
    width: calc(( 100% - 2rem)* (3 / 4)); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 4.5rem;
  right: 4rem;
  width: 7rem;
  height: 7rem;
  background-color: white;
  z-index: 2002;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #AAAAAA;
  cursor: pointer; }

.navigation__background {
  position: fixed;
  top: 5rem;
  right: 4rem;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  z-index: 2000;
  background-image: radial-gradient(#0074D9, #3D9970);
  transition: all .3s; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2001;
  opacity: 0;
  visibility: hidden;
  transition: all .2s; }
  .navigation__nav__nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .navigation__nav__nav-list li {
      border-bottom: solid .3rem transparent;
      list-style-type: none;
      transition: all .3s;
      margin: 2rem 3rem; }
      .navigation__nav__nav-list li span {
        margin-right: 3rem; }
    .navigation__nav__nav-list a {
      text-decoration: none;
      text-transform: uppercase;
      font-style: inherit;
      color: white;
      font-size: 2.5rem; }
    .navigation__nav__nav-list li:hover {
      border-bottom: solid .3rem white;
      transition: all .3s; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(70);
  transition: all 0.3s; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 100;
  visibility: visible;
  transition: all .2s; }

.navigation__icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #111111;
    display: inline-block;
    transition: all .3s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon:before {
    top: 0;
    transform: rotate(45deg);
    transform-origin: center; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon:after {
    top: 0;
    transform: rotate(-45deg);
    transform-origin: center; }
