$color-primary: #0074D9;
$color-secondary: #3D9970;
$color-gray-1: #f7f7f7;
$color-white-snow: #F5F5F5;
$color-yellow-1: #FFDC00;
$color-orange-1:#FF851B;
$color-maroon-1: #85144b;
$color-fuchsia-1: #F012BE;
$color-purple-1: #B10DC9;
$color-navy-1: #001f3f;
$color-blue-1:#0074D9;
$color-green-1:#2ECC40;
$color-lime-1: #01FF70;
$color-gray-primary:#AAAAAA;
$color-red-primary: #FF4136;
$color-black-1:#111111;


$col-width: 130rem;
$vertical-gutter: 8rem;
$horizontal-gutter:2rem;

/* NAVY
#001f3f
BLUE
#0074D9
AQUA
#7FDBFF
TEAL
#39CCCC
OLIVE
#3D9970
GREEN
#2ECC40
LIME
#01FF70
YELLOW
#FFDC00
ORANGE
#FF851B
RED
#FF4136
MAROON
#85144b
FUCHSIA
#F012BE
PURPLE
#B10DC9
BLACK
#111111
GRAY
#AAAAAA
SILVER
#DDDDDD */


