

.header{
 height: 95vh;
 
 background-image: 
 linear-gradient(
  to left bottom,
  rgba($color-primary,0.75),
   rgba($color-secondary,0.80)),
  url('../img/pexels-photo-92904.jpeg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;

  &__logoContainer{
    position: absolute;
    left: 4rem;
    top:1.4rem;

    &__logo{
      height: 10rem;
    }
  } 
 
}



.headlineBox{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  &__headlinePrimary{

  text-transform:uppercase; 
  color: #fff;
  font-size:6rem;
  display: block;
  font-weight: 700;
  letter-spacing: 4rem;
  padding: 0rem;
  margin:0rem;
  animation-name: moveLeft;
  animation-duration: 1.5s;
  backface-visibility: hidden;
    
  }
  &__headlineSub{
    color: #fff;
    display: block;
    font-weight: 500;
    letter-spacing: 1rem;
    animation-name: moveRight;
    animation-duration: 1.5s;
    backface-visibility: hidden;
  }
  
}


.section-about{
 background-color: $color-gray-1;
 padding: 25rem 0;
 margin-top: -20vh;
 
  &__h2__box{  
   text-align:center;


   h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: transparent;
    font-weight: 700;
    display:inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s;
    &:hover{
     transform: skewY(2deg);
    }
   }

  }

}

.section-cards{
  margin-top: -20rem;
  height: 60rem;
  background-image: 
  linear-gradient(to left bottom,
  rgba($color-primary,0.75),
   rgba($color-secondary,0.80)),
  url('../../img/Digital.jpeg'); 
  background-size: cover;
  padding: 11rem 0px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  
  
  
  &__boxes{
    padding: 5rem 2.5rem 2.5rem 2.5rem;
    background-color: rgba($color-white-snow,0.75);
    box-shadow: 0 1.5rem 3rem rgba(black,0.5);
    border-radius: .5rem;
    text-align: center;
    margin: 0rem 1.5rem;
    transition: all 0.2s;
    
    
    

    i{
      font-size: 10rem;
      background-image: linear-gradient(to right, $color-maroon-1, $color-fuchsia-1);
      -webkit-background-clip: text;
      background-clip: text;
      color:transparent;

    }
    h3{
      
      text-transform: uppercase; 
      color:white;
      font-weight: 700;

    }

    
    
  }
    &__boxes:hover {
      transform: translateY(-1rem);
    }
}

.section-prices{
  height: 80rem;
  background-color: $color-gray-1;
  margin-top: -20rem;
}

.section-recoms{

  &__container{
    margin: 20rem auto;
    width: 70%;
    background-color: rgba($color-gray-primary,.2);
    transform: skewY(-4deg);
    // position: relative;
    padding: 5rem 4rem;
    
    &__anti-break-container{
      transform: skewY(4deg);
    }
    
    
    &__img-container{
      position: relative;
      width: 100%;
      
      background-color: red;
      &__test{
        
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
      }

      
      p{
        
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgba(255, 255, 255, 0);
        transform: translate(-50%, -50%);
        font-size: 3rem;
        transition: all .3s;
      }
      img{
        width: 100%;
        

      }
      

    }
    &__img-container:hover {

      img{
        

      }
      
     p{
      color: rgba(255, 255, 255, 100);
      } 
    }
    &__text-container{
      p{
        text-align: justify;
      }
    }

  }

  
}

